* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background: transparent;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;
}

.navlist {
  display: flex;

  a {
    color: #fff;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all 500ms ease;

    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}

#menu-icon {
  color: white;
  font-size: 30px;
  z-index: 1001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(245deg, #4d9559 0%, #38703d 29%, #133917 75%);
  position: relative;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 2rem;
  padding-left: 20%;

  .hero-img img {
    width: 100%;
  }

  .hero-text {
    color: #fff;

    h5 {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 40px;
    }

    h1 {
      font-family: "Permanent Marker", cursive;
      font-size: 90px;
      line-height: 1;
      margin: 0 0 45px;
    }

    h4 {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    p {
      font-size: 15px;
      line-height: 1.9;
      margin-bottom: 40px;
    }
  }

  .hero-buttons {
    a {
      display: inline-block;
      background: #4d9559;
      border: 1px solid transparent;
      padding: 12px 30px;
      line-height: 1.4;
      font-size: 14px;
      font-weight: 500;
      border-radius: 30px;
      text-transform: uppercase;
      color: #fff;
      text-decoration: none;

      &:hover {
        background: transparent;
        border: 1px solid #fff;
        transform: translateX(8px);
        transition: all 500ms ease;
      }

      &.ctaa {
        background: transparent;
        border: 1px solid #fff;
        margin-left: 20px;

        i {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 9%;
  transform: translateY(-50%);

  i {
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color: #fff;
    transition: all 500ms ease;

    &:hover {
      color: #4d9559;
      transform: translateY(-5px);
    }
  }
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;

  i {
    display: block;
    padding: 12px;
    font-size: 25px;
    color: #fff;
    background: #4d9559;
    border-radius: 30px;
    transition: all 500ms ease;

    &:hover {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: 200ms;
  }

  .icons {
    padding: 0 3%;
    transition: 200ms;
  }

  .scroll-down {
    right: 3%;
    transition: 200ms;
  }
}

@media (max-width: 1460px) {
  .hero {
    padding: 0 12%;
    transition: 200ms;
  }
}

@media (max-width: 1340px) {
  .hero {
    .hero-text {
      h1 {
        font-size: 75px;
        margin: 0 0 30px;
      }

      h5 {
        margin-bottom: 25px;
      }
    }

    .hero-img img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1195px) {
  .hero {
    height: 100%;
    padding: 0 3%;
    gap: 1rem;
    grid-template-columns: 1fr;
    transition: 200ms;

    .hero-text {
      padding-top: 115px;
      width: 70%;
    }

    .hero-img {
      text-align: center;

      img {
        width: 500px;
        height: auto;
      }
    }
  }

  .icons {
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 300px;
    background: #4d9559;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: all 500ms ease;

    a {
      display: block;
      margin: 7px 0;
    }

    &.open {
      right: 0;
    }
  }

  .hero {
    .hero-text {
      width: 100%;
    }
  }
}

@media (max-width: 680px) {
  .hero .hero-img img {
    width: 100%;
  }
}
